.aos-container {
    margin: 100px 0;
}

.about-link-header {
    padding: 0px 50px;
    font-size: 16px;
    text-align: start;
    color: white;
    margin: 20px 0 30px 0;
}

.about-link {
    background: #581412;
    padding: 20px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}

.about-content {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    margin: 0 20px;
}

.home-about-title {
    color: #0464a0;
    font-size: 27px;
    margin-bottom: 15px;
}

.about-description {
    color: #581412;
    text-align: justify;
    font-size: 16px;
    margin-right: 20px;
}

.read-more-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.slider-image-container {
    display: flex;
    align-items: center;
}

.slider-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

@media only screen and (max-width: 1100px) {
    .about-content {
        flex-wrap: wrap-reverse;
        padding: 0 30px;
    }

    .slider-image-container {
        margin: 40px 0;
    }

    .slider-image {
        border-radius: 9px;
    }
}

@media only screen and (max-width: 768px) {
    .aos-container {
        margin: 70px 0;
    }

    .about-link-header {
        padding: 0 30px;
        font-size: 14px;
    }

    .about-content {
        padding: 0 20px;
    }

    .home-about-title {
        font-size: 24px;
    }

    .about-description {
        font-size: 14px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .aos-container {
        margin: 50px 0;
    }

    .about-link-header {
        padding: 0 20px;
        font-size: 14px;
        text-align: center;
    }

    .about-link {
        padding: 15px;
    }

    .about-content {
        padding: 0 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .about-text {
        margin: 10px 0;
    }

    .home-about-title {
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .about-description {
        font-size: 14px;
        margin-right: 0;
        text-align: justify;
    }

    .read-more-container {
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }

    .slider-image-container {
        margin: 20px 0;
    }

    .slider-image {
        border-radius: 9px;
    }
}
