.slider-item {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px; /* Added padding for smaller screens */
}

.slider-description-wrapper {
    width: 65%;
    padding: 200px;
}

.slider-description {
    background-color: #581412dd;
    border-radius: 5px;
    padding: 40px;
}

.slider-title {
    font-size: 45px;
    color: white;
    line-height: 55px;
}

.slider-subtitle {
    font-size: 16px;
    color: white;
    margin-bottom: 50px;
}

.slider-link {
    background: #0464a0;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
}

/* For tablets and small desktops */
@media only screen and (max-width: 1024px) {
    .slider-description-wrapper {
        width: 80%;
        padding: 100px;
    }

    .slider-description {
        padding: 30px;
    }

    .slider-title {
        font-size: 35px;
        line-height: 45px;
    }

    .slider-subtitle {
        font-size: 15px;
        margin-bottom: 40px;
    }
}

/* For mobile devices */
@media only screen and (max-width: 799px) {
    .slider-item {
        align-items: center;
        padding: 10px;
    }

    .slider-description-wrapper {
        width: 90%;
        padding: 50px;
    }

    .slider-description {
        padding: 20px;
    }

    .slider-title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .slider-subtitle {
        font-size: 14px;
        text-align: center;
        margin-bottom: 30px;
    }

    .slider-link {
        padding: 8px 20px;
    }
}

/* For very small devices */
@media only screen and (max-width: 480px) {
    .slider-description-wrapper {
        width: 95%;
        padding: 20px;
    }

    .slider-description {
        padding: 15px;
    }

    .slider-title {
        font-size: 25px;
        line-height: 35px;
    }

    .slider-subtitle {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .slider-link {
        padding: 6px 15px;
        font-size: 14px;
    }
}
